# Ignorar el archivo Temario.txt
Temario.txt

# Ignorar las carpetas de Videos en GITHUB y JAVA
GITHUB/Videos GITHUB/
JAVA/Videos JAVA/

# Ignorar las carpetas específicas en Explicaciones excepto Variables JAVA
Explicaciones/Arreglos JAVA/
Explicaciones/Ciclos JAVA/
Explicaciones/Condiciones JAVA/
Explicaciones/Funciones JAVA/
Explicaciones/Matrices JAVA/

# Ignorar todo dentro de Ejemplos JAVA excepto Estructura Entrada y Salida
JAVA/Ejemplos JAVA/*
!JAVA/Ejemplos JAVA/Estructura Entrada y Salida/
